
.services {
  margin: 0 auto;
  float: none;


  &-description {
    &__title {

      text-transform: uppercase;
      font: 900 27px $global-font-family;
    }

    &__about {

    }

    .about {
      &__item {
        font: 500 18px $global-font-family;
        list-style:  inside none;
        padding-left: 20px;

        &:before {
          margin-left:-10px ;
          content: "";
          font-size: 10px;
          display: inline-block;
          vertical-align: middle;



          width: 5px;
          height: 5px;
          border-radius: 100% ;

          background-color: black;
        }



      }
    }
  }

    &-view {


      &__img {
        height: auto;
        width: 100%;

        border-radius: $border-radius;
        box-shadow: 15px -1px 61px -8px rgba(87,77,87,0.7);

      }
    }

}